<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>Mermaid</title>
  <script src="https://unpkg.com/mermaid/dist/mermaid.min.js"
    integrity="sha512-3PBlo2Duz3n8ZReWwpL22r4w1JZH8ZRv2cdYkXZ4K+O50hB9KdKfJ5Tevi5M1fCqfH7GQt2AcDDMRrneJ/dfYw=="
    crossorigin="anonymous"></script>
  <script>
    mermaid.initialize({
      startOnLoad: true,
      theme: 'defalt',
      // clockを有効にするためにセキュリティレベルを下げる
      securityLevel: 'loose',
    });
  </script>
</head>

<body>
  {{if .IsFiltered}}<button onclick="location.href = '/'">全ノードを表示する</button>{{end}}
  <div>
    nodes: 
    {{range .NodeTypes}}<span>
      <span style="color: #{{.Color}};">■</span>
      {{.Label}}
    </span>{{end}}
  </div><div>
    edges:
    {{range .EdgeTypes}}<span>
      <span style="color: #{{.Color}};">■</span>
      {{.Label}}
    </span>{{end}}
  </div>
  <div
    class="mermaid"
    id="mermaid-data"
  >{{.MermaidData}}</div>
</body>

</html>